.navbar>ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-left: 40px;
    margin-bottom: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
    height: 80px;
    position: sticky;
    top: 0;
    color: white;
}

.navbar ul li>a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}